@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  width: inherit;
  margin: 0%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

header {
  flex-grow: 1;
  padding: 14px 24px;
  background-color: #4b4b4b;
  color: white;
  border-radius: 0 0 18px 18px;
  display: flex;
  flex-direction: column;
}

#recall-div {
  text-align: end;
  font-size: 20px;
  font-weight: 500;
}

#recall-key {
  margin: 10px 0;
}

.clickedRecallKey {
  color: rgb(89, 89, 245);
}

.display-divs {
  width: 100%;
  overflow: hidden;
}

.firstDisDiv {
  flex-grow: 1;
}

.display-inputs {
  outline: none;
  border: none;
  text-align: end;
  width: inherit;
  background: transparent;
  color: inherit;
  padding-right: 2px;
  word-break: break-all;
  resize: none;
}

#display1-input {
  font-size: 60px;
  height: 100%;
}

#display2-input {
  font-size: 40px;
  font-weight: 600;
}

main {
  padding: 40px 17px 25px 17px;
  font-size: 32px;
  position: relative;
}

#recallContent {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  font-size: large;
}

.showRecallContent {
  display: block !important;
}

#theContents {
  text-align: right;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 58px;
  left: 0;
  right: 0;
  z-index: 2;
  overflow-y: scroll;
  scrollbar-color: black;
  scrollbar-width: thin;
}

#theContents::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

#theContents::-webkit-scrollbar {
  width: 10px;
}

#theContents::-webkit-scrollbar-button {
  background-color: #4b4b4b;
}

.recallInputs {
  color: rgba(255, 255, 255, 0.7);
  font-size: small;
  line-height: 0.7px;
}

.recallOutputs {
  font-weight: 600;
  line-height: 1.8px;
}

#recallContentKeys {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: large;
  box-shadow: 0px -4px 4px rgba(255, 255, 255, 0.089);
  background-color: black;
}

@media (max-height: 680px) {
  main {
    padding: 20px 17px;
    font-size: 25px;
  }
}

@media (max-height: 380px) {
  main {
    padding: 20px 17px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 600px) {
  #container {
    width: 80%;
  }

  header {
    margin-top: 40px;
    padding: 14px 24px;
    border-radius: 18px;
  }

  #recallContentKeys {
    left: 10%;
    right: 10%;
  }
}

@media only screen and (min-width: 768px) {
  #container {
    width: 60%;
  }

  #recallContentKeys {
    left: 20%;
    right: 20%;
  }
}

@media only screen and (min-width: 992px) {
  #container {
    width: 50%;
  }
  #recallContentKeys {
    left: 25%;
    right: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  #container {
    width: 40%;
  }
  main {
    padding: 40px 10px 25px 10px;
    font-size: 32px;
  }
  #recallContentKeys {
    left: 30%;
    right: 30%;
  }
}

@media only screen and (min-width: 1400px) {
  #container {
    width: 30%;
  }
  #recallContentKeys {
    left: 35%;
    right: 35%;
  }
}
